<% include ./header.ejs %>
    <main class="container col-11">
    <% if (project !== null) { %>
      <div class="row">
        <div class="col-12">
          <div class="project text-white text-center card card-image mb-3" style="background-image: url('<%= project.img %>') !important">
            <div class="text-white rgba-black-strong py-4 px-4">
              <div class="col-12">
                <div>
                  <h5 class="white-text" style="display: inline" >
                    <i class="fa fa-line-chart"></i>
                    <span><%= project.project %></span>
                    <% if (level !== 3) { %>
                      <a data-toggle="modal" data-target="#editProject">
                        <i class="fa fa-cog float-right"></i>
                      </a>

                    <% } %>
                  </h5>
                </div>
                <h3 class="red-text card-title pt-2">
                  <strong><%= project.title %></strong>
                </h3>
                <% if (level == 3) %>
                <p><%= project.description %></p>
              </div>
            </div>
            <% if (level == 3) { %>
            <div class="card-data bg-black">
              <% var tag = project.tag.split(','); %>
              <ul class="tags">  
              <% for(var i = 0; i < tag.length; i++) { %>
                <li>
                    <a class="trigger" href="<%#= tag[i] %>"><%= tag[i] %></a>
                </li>
              <% } %>
              </ul>
            </div>
            <% } %>
          </div>
        </div>
      </div>

      <% if(level === 1) { %>
        <edit-project :api="'/api/project/' + project"></edit-project>
        <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="text-center">
                  <i v-if="" class="fa fa-check fa-4x mb-3 animated rotateIn" style="color: green"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="text-center">
                  <i aria-hidden="true" class="animated red-text rotateIn fa fa-times" style="color: red"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>        
      
      <%  if (level === 3) { %>
      <div class="modal fade bottom show modal-content-clickable" 
        id="join" tabindex="-1" data-backdrop="false">
        <div class="modal-dialog modal-frame modal-bottom modal-notify modal-success" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row d-flex justify-content-center align-items-center">
                <p class="pt-3 pr-2">Enviar Solicitud</p>
                <button @click="sendJoinRequest" class="btn btn-primary-modal waves-effect waves-light">Send</button>
                <button class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="text-center">
                <i class="fa fa-check fa-4x mb-3 animated rotateIn" style="color: green"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="text-center">
                <i aria-hidden="true" class="animated red-text rotateIn fa fa-times" style="color: red"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%  if (level !== 3) { %>
      <div class="row">
        <div class="col-md-3 col-12">
          <%  if (level === 1) { %>
          <div class="card col-12">
            <h6 class="card-header elegant-color-dark white-text">Peticiones</h6>
            <div class="card-body">                            
              <requests :api="'/api/request/project/' + project"></requests>
            </div>
          </div>
          <%  } %>

          <div class="card col-12" style="margin-top: 1rem;">
            <h6 class="card-header elegant-color-dark white-text">Miembros</h6>
            <div class="card-body">                            
              <members :project="project"> 
              </members> 
            </div>    
          </div>
        </div>
          
        <div class="col-md-8 col-sm-12 col-12" >
          <posts :url="'/api/post/project/'" :project="project"></posts>
          <!--div class="col-12">
            <h1 class="text-center">Load More</h1>
          </div-->
        </div>
      </div>
      <br>
      <% } %>
    <% } else { %>
    <img src="https://vignette3.wikia.nocookie.net/callofduty/images/4/45/Megurine-luka-chibi.png/revision/latest?cb=20120623014028" alt="error 404">
    <% } %>
    </main>
  </div>
  <script type="text/javascript">
    const username = '<%= username %>'
  </script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>   
  <script src="/js/vue/components/request.js"></script>
  <%  if (level === 1) %>
  <script src="/js/vue/components/edit-project.js"></script>  
  <%  if (level !== 3) { %>
  <script src="/js/vue/components/member.js"></script>
  <script src="/js/vue/components/post.js"></script>
  <script src="/js/vue/controllers/project.js"></script>
  <% } else { %>
  <script type="text/javascript">
    $('#join').modal('show')
  </script> 
  <script src="/js/vue/controllers/join.js"></script>
  <% }  %>
  </body>
</html>



 


